@inherits UmbracoViewPage<SearchResponseModel>
@using Freelancer.Controllers.Surface
@using Freelancer.Models.Search

<p>Total Results: @Model?.TotalResultCount</p>

@if(Model?.HasResults ?? false)
{
    var itemCount = 0;
    <div class="row">
        @foreach(var item in Model?.SearchResults)
        {
            var contentItem = Umbraco.Content(item.Id);
            if (contentItem == null) continue;
            <div class="card mb-3 @(itemCount % 2 == 0 ? "bg-white" : "bg-light")">
                <div class="card-header bg-transparent">
                    <a href="@contentItem.Url()">@contentItem.Name</a>
                </div>
                <div class="card-body">
                    @if(contentItem is ISEoproperties seo)
                    {
                        <p>@seo.MetaDescription</p>
                    }
                </div>
                <div class="card-footer bg-transparent">
                    <small>Last Updated: @contentItem.UpdateDate</small>
                </div>
            </div>
            itemCount++;
       }
    </div>
}